.bfhash {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input.bftext {
  display: block;
  margin: 1rem 0;
  box-sizing: border-box;
  line-height: 24px;
}

button.bf-start-button {
 padding: 1px 10px 3px 10px;
 font-size: 1rem;
 margin-bottom: 5px;
}

.bf-start-button:hover {
  color: white;
  background-color: #42545C;
}

button.cancel-button {
  font-size: 1rem;
  margin: 5px;
  padding: 1px 10px 3px 10px;
}

button.cancel-button:hover {
  background-color: #525252;
  color: white;
}

textarea {
  resize: none;
}

.title_box {
  border: black 1px solid;
  padding: 5px;
}

.title_box #title {
  position: relative;
  top: -1em;
  margin-left: 1em;
  display: inline;
  background-color: white;
  padding: 5px;
  font-size: large;
}
