<form method="post" id="frmBf">

  <div>
    <label for="fldHashcode">Enter hashcode to be brute-forced:</label>
    <div>
      <input class="bftext" id="fldHashcode" form="frmBf" type="text" maxlength="100" size="100" name="nmFldHashcode" [(ngModel)]="bfRequest.hashcode"/>
    </div>
  </div>
  <div>
    <label for="fldMaxLen">Enter max length of plaintext:</label>
    <div>
      <input class="bftext" id="fldMaxLen" form="frmBf" type="text" maxlength="10" size="10" name="nmFldMaxLen" [(ngModel)]="bfRequest.maxLen"/>
    </div>
  </div>
  <div>
    <span>Include these characters in search (pick at least one):</span>
    <div>
      <input type="checkbox" id="chkDigits" form="frmBf" name="nmChkDigits" [(ngModel)]="bfRequest.includeDigits"/>
      <label for="chkDigits">Digits: <code>0123456789</code></label>
    </div>
    <div>
      <input type="checkbox" id="chkLower" form="frmBf" name="nmChkLower" [(ngModel)]="bfRequest.includeLowerCase"/>
      <label for="chkLower">Lower case: <code>abcdefghijklmnopqrstuvwxyz</code></label>
    </div>
    <div>
      <input type="checkbox" id="chkUpper" form="frmBf" name="nmChkUpper" [(ngModel)]="bfRequest.includeUpperCase"/>
      <label for="chkUpper">Upper case: <code>ABCDEFGHIJKLMNOPQRSTUVWXYZ</code></label>
    </div>
    <div>
      <input type="checkbox" id="chkPunc" form="frmBf" name="nmChkPunc" [(ngModel)]="bfRequest.includePunctuation"/>
      <label for="chkPunc">Punctuation: <code>!"#$%&'()*+,-./:;&lt;=>?@[\]^_`|~{{'{}'}}</code></label>
    </div>
    <div>
      <input type="checkbox" id="chkWhtSpc" form="frmBf" name="nmChkWhtSpc" [(ngModel)]="bfRequest.includeWhiteSpace"/>
      <label for="chkWhtSpc">White space: space, tab, linefeed, return, formfeed, and vertical tab</label>
    </div>
  </div>
</form>
<div>
  <button type="button" class="bf-start-button" (click)="bfStart()">Brute Force</button>
  <button type="button" class="cancel-button">Cancel</button>
</div>
<br />

<div class="title_box" id="results">
  <div id="title">Results</div>
  <div>
    <div>
      <label for="numOfCombos">Number of combinations to check:</label>
      <div>
        <textarea id="numOfCombos" rows="1" cols="50" readonly></textarea>
      </div>
    </div>
    <div>
      <label for="progress">Progress:</label>
      <div>
        <textarea id="progress" rows="1" cols="50" readonly></textarea>
      </div>
    </div>
    <br />
    <div>
      <label for="result">Result</label>
      <div>
        <textarea id="result" rows="1" cols="80" readonly [(ngModel)]="bfResponse.resultFound"></textarea>
      </div>
    </div>
  </div>
</div>
